<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%=title%></title>
        <link rel="canonical" href="<%=url%>">
        <link rel="stylesheet" href="style.css">
    </head>
    <body class="l-page">

        <header class="hdr" data-js-nav>
            <a class="hdr-title" href="#"><h1>Dispossible</h1></a>
            <nav class="hdr-nav">
                <% nav.forEach(function(pg){ %>
                    <a href="<%=pg.url%>" class="hdr-link" data-js-nav-link><%=pg.name%></a>
                <% }); %>
            </nav>
        </header>

        <main class="l-pageContent">
            <%- include("pages/"+template, {}); %>
        </main>

        <footer class="ftr">
            <small class="ftr-copy">&copy; Dispossible - Timothy Bailey</small>
        </footer>

        <div class="hdr-spacer">
            &nbsp;
        </div>
        
        <script asnyc src="script.js"></script>
    </body>
</html>